In [12]:
df_diabetes = pd.read_csv("Dataset of Diabetes .csv")
df_diabetes.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [19]:
import pandas as pd
import numpy as np

cols_with_zero = ['Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']
df_diabetes[cols_with_zero] = df_diabetes[cols_with_zero].replace(0, np.nan)
for cols in cols_with_zero:
    df_diabetes[cols].fillna(df_diabetes[cols].mean(), inplace=True)

print("Missing values after cleaning:")
print(df_diabetes.isnull().sum())

Missing values after cleaning:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

/tmp/ipython-input-720645253.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_diabetes[cols].fillna(df_diabetes[cols].mean(), inplace=True)

In [27]:

print("Shape before removing outliers:", df_diabetes.shape)
numeric_df = df_diabetes.select_dtypes(include=[np.number])

Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

outliers = ((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR))).any(axis=1)
df_diabetes = df_diabetes[~outliers]

print("Shape after removing outliers:", df_diabetes.shape)

Shape before removing outliers: (504, 14)
Shape after removing outliers: (503, 14)

In [28]:
from sklearn.preprocessing import MinMaxScaler

numeric_cols = df_diabetes.select_dtypes(include=[np.number]).columns

scaler = MinMaxScaler()
df_diabetes_scaled = df_diabetes.copy()
df_diabetes_scaled[numeric_cols] = scaler.fit_transform(df_diabetes[numeric_cols])

print(df_diabetes_scaled.head())

          ID  No_Pation Gender       AGE      Urea        Cr     HbA1c  \
5   0.791980   0.631077      F  0.111111  0.162162  0.023810  0.156250
6   0.901003   0.631101      F  0.296296  0.121622  0.333333  0.156250
7   0.525063   0.631150      M  0.222222  0.486486  0.297619  0.156250
13  0.162907   0.631323      F  0.111111  0.472973  0.380952  0.242188
14  0.501253   0.631347      F  0.296296  0.324324  0.202381  0.156250

        Chol        TG       HDL       LDL  VLDL   BMI CLASS
5   0.163636  0.166667  0.400000  0.183673  0.15  0.10     N
6   0.290909  0.238095  0.333333  0.306122  0.25  0.25     N
7   0.163636  0.119048  0.333333  0.204082  0.15  0.25     N
13  0.400000  0.333333  0.533333  0.326531  0.35  0.20     N
14  0.363636  0.285714  0.533333  0.326531  0.30  0.25     N

In [29]:
from sklearn.preprocessing import StandardScaler

numeric_cols = df_diabetes.select_dtypes(include=[np.number]).columns

std_scaler = StandardScaler()
df_diabetes_standardized = df_diabetes.copy()
df_diabetes_standardized[numeric_cols] = std_scaler.fit_transform(df_diabetes[numeric_cols])

print(df_diabetes_standardized.head())

          ID  No_Pation Gender       AGE      Urea        Cr     HbA1c  \
5   1.205544   0.131852      F -1.992943 -1.493372 -1.938906 -1.737012
6   1.577790   0.131971      F -1.007443 -1.699660 -0.442034 -1.737012
7   0.294183   0.132210      M -1.401643  0.156938 -0.614750 -1.737012
13 -0.942358   0.133044      F -1.992943  0.088175 -0.211746 -1.309664
14  0.212888   0.133164      F -1.007443 -0.668217 -1.075326 -1.737012

        Chol        TG       HDL       LDL      VLDL       BMI CLASS
5  -1.716693 -1.131779 -0.325086 -1.076611 -1.321181 -1.895021     N
6  -1.071880 -0.815685 -0.630843 -0.473106 -0.874872 -1.253426     N
7  -1.716693 -1.342508 -0.630843 -0.976027 -1.321181 -1.253426     N
13 -0.519183 -0.394227  0.286426 -0.372521 -0.428563 -1.467291     N
14 -0.703416 -0.604956  0.286426 -0.372521 -0.651718 -1.253426     N